:root{
    --efa-white-: #ffffff;
    --efa-bg1-: #0e2337;
    --efa-bg2:#f4f4f4;
    --efa-color1:#60667d;
    --efa-link-:#fe8f33;
    --efa-bg3-:#253c53;
}
html{
    display: flex;
    justify-content: center;
}
body{
    background-color: var(--efa-bg1-);
    padding:0 !important;
    margin:0 !important;
    display:block !important;
    width:100% !important;
    -webkit-text-size-adjust:none;
    border:1px solid black;
    max-width: 650px;

}
header{
    color:var(--efa-color1);
    display: flex;
    justify-content: space-between;
    padding-top: 54px;
    padding-bottom: 24px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 12px;
}
.logo{
    margin-top: -20px;
}
a{
    color: var(--efa-color1);
}
ul{
    display: flex;
    list-style: none;
    text-indent: 15px;
    justify-content: center;
    background-color: var(--efa-bg3-);
    color:var(--efa-bg2);
    padding: 22px;
}
li{
    border-right: 10px solid var(--efa-link-);
    border-width: 10px;
    height:3px;
    display: flex;
    align-items: center;
    padding-right:15px ;
    font-size: small;
    font-weight: 700;
}
.on-the-quest{
    color:var(--efa-link-);
    text-align: center;
}
.we-are-here, .firstP{
    text-align: center;
    color:var(--efa-white-);
}
#letUs{
    background-color: var(--efa-link-);
    padding: 20px;
    border: none;
    border-radius: 10px;
    margin-left: 170px;
    font-weight: 600;
}

.our-top-offers{
    background-color: var(--efa-bg2)
}
.our-top-offers h1{
    text-align: center;
    font-weight: 100;
    font-size: 35px;
    padding-top: 40px;
}
.separator{
    padding-left: 300px;
    padding-bottom: 50px;
}
article{
    display: flex;
    flex-direction: row;
    gap:50px;
    padding-left: 2px;
    padding-bottom: 70px;
}
article button{
    padding:17px 20px;
    background-color: var(--efa-bg1-);
    color: var(--efa-white-);
    font-weight: 600;
    font-size: 12px;
    border: none;
    border-radius: 12px;

}
.why-choose-us{
   position:relative;
   top:-25px;
   background-color: var(--efa-white-);
}
.why-choose-us h1{
    text-align: center;
    padding-top: 40px;
    font-weight: 400;
}
.imgIco{
    padding-left: 50px;
}
article section h2, article section p{
    text-align: center;
}