:root{
    --efa-white-: #ffffff;
    --efa-bg1-: #0e2337;
    --efa-bg2:#f4f4f4;
    --efa-color1:#60667d;
    --efa-link-:#fe8f33;
    --efa-bg3-:#253c53;
}
html{
    display: flex;
    justify-content: center;
}
body{
    background-color: var(--efa-bg1-);
    padding:0 !important;
    margin:0 !important;
    display:block !important;
    width:100% !important;
    -webkit-text-size-adjust:none;
    max-width: 650px;

}
header{
    color:var(--efa-color1);
    display: flex;
    justify-content: space-between;
    padding-top: 54px;
    padding-bottom: 24px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 12px;
}
.logo{
    margin-top: -20px;
}
a{
    color: var(--efa-color1);
}
ul{
    display: flex;
    list-style: none;
    text-indent: 15px;
    justify-content: center;
    background-color: var(--efa-bg3-);
    color:var(--efa-bg2);
    padding: 22px;
}
li{
    border-right: 10px solid var(--efa-link-);
    border-width: 10px;
    height:3px;
    display: flex;
    align-items: center;
    padding-right:15px ;
    font-size: small;
    font-weight: 700;
}
.on-the-quest{
    color:var(--efa-link-);
    text-align: center;
}
.we-are-here, .firstP{
    text-align: center;
    color:var(--efa-white-);
}
#letUs{
    background-color: var(--efa-link-);
    padding: 20px;
    border: none;
    border-radius: 10px;
    margin-left: 170px;
    font-weight: 600;
}

.our-top-offers{
    background-color: var(--efa-bg2)
}
.our-top-offers h1{
    text-align: center;
    font-weight: 100;
    font-size: 35px;
    padding-top: 40px;
}
.separator{
    padding-left: 300px;
    padding-bottom: 50px;
}
article{
    display: flex;
    flex-direction: row;
    gap:50px;
    padding-left: 2px;
    padding-bottom: 70px;
}
article button{
    padding:17px 20px;
    background-color: var(--efa-bg1-);
    color: var(--efa-white-);
    font-weight: 600;
    font-size: 12px;
    border: none;
    border-radius: 12px;

}
.why-choose-us{
   position:relative;
   top:-25px;
   background-color: var(--efa-white-);
}
.why-choose-us h1{
    text-align: center;
    padding-top: 40px;
    font-weight: 400;
}
.imgIco{
    padding-left: 50px;
}
article section h2, article section p{
    text-align: center;
}
#lastButton{
   padding: 15px 20px;
   border: none;
   border-radius: 12px;
   background-color: var(--efa-bg1-);
   color: var(--efa-white-);
   font-weight: 600;
   margin-left: 180px;
   margin-bottom: 80px;
}
.footer-icon{
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
}
footer p{
    color: var(--efa-color1);
    padding-left: 5px;
}
.social-media img:hover{
    filter:sepia(90%);
    transition: filter 3s;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0 2px 15px rgba(245, 150, 7, 0.89);
    cursor: pointer;
    border: 1px solid var(--efa-link-);
    transition: border 0.7s;
}
.address{
    display: flex;
    justify-content: space-between;
}
.address a{
    padding-top: 18px;
    padding-right: 5px;
}
.attribution {
    font-size: 12px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    color: var(--efa-link-);

}
.attribution a {
    color: var(--efa-bg2);
    
}
@media (max-width:678px) {
    *{
        overflow-x: hidden;
    }
    header{
        color:var(--efa-color1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        padding-top: 44px;
        padding-bottom: 20px;
        padding-right: 15px;
        padding-left: 15px;
        font-size: 12px;
    } 
    .dates{
        display: flex;
    }
    .logo{
        margin: 20px;
        width:50%;
    }
    nav ul{
        width:100%;
        height:30px;
    }
    .new-li1 {
        display: flex;
        position:absolute;
        bottom:-20px;
        left:20px;
    }
    .new-li2 {
        display: flex;
        position:absolute;
        bottom:-20px;
        left:100px;
    }
    .new-li3 {
        display: flex;
        position:absolute;
        bottom:-20px;
        left:200px;
        border: none;
    }
    
    img article{
        width:100%;
    }
    #letUs{
        padding-left: auto;
        padding-right: auto;
        padding-bottom: 20px;
        width:100px;
        height:60px;
        margin-left: 100px;
        font-size: 10px;
        display: flex;
        align-items: center;
    }
    .separator{
        padding-left: 5px;
        padding-right: 5px;
        height:5px;
        width: 95%;
        padding-bottom: 50px;
    }
    article{
        display: flex;
        flex-direction: column;
        gap:10px;
        padding-left: 2px;
        padding-bottom: 10px;
    }
    article button{
        display: flex;
        margin-left: auto;
        margin-right: auto;

    }
    .invers{
    display: flex;
    flex-direction: column-reverse;
    }
     #lastButton{
      margin-left: 15px;
      margin-right: 15px;
    }
}